<app-menu></app-menu>

<div class="container booksList">
  <h2>Books in Archive</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of archiveListArray">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.category }}</td>
        <td><i class="fa fa-close" style="font-size:2em" (click)="deletingBook(book.$key)"></i></td>
      </tr>
    </tbody>
  </table>
</div>
