<app-menu class="menu"></app-menu>
<h2>My books</h2>
<div class="booksList">
  <table id="books">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th style="border-right: 1px solid rgb(27, 26, 26)">Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of archiveListArray">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.category }}</td>
        <td><i class="fa fa-close" style="font-size:1em" (click)="deletingBook(book.$key)"></i></td>
      </tr>
    </tbody>
  </table>
</div>
