body {
  background-image: url('./assets/img4.png');
}

@media screen and (min-width: 600px) {
  .arrowRight {
    display: none;
  }


}

@media screen and (max-width: 500px) {
  /* .menuTitle {
    display: inline;
  }
  .arrowRight {
    display: inline-block;
    padding-left: 20em;;
  } */
}
